@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.avatar {
    width: 150px;
    border-bottom: 4px solid #B08968;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E6CCB2;
    color: #0a0908;
    border-bottom: 6px solid #B08968;
    border-right: 6px solid #B08968;
    border-radius: 16px;


